

h3{
    margin-top: 10px;
    
}

h4{
    margin-top: 17px;
    
}



#logoIF{
    position: absolute;
    top: 0;
    right: 90pxpx;
}

.trilho{
    width: 80px;
    height: 30px;
    background-color: #4d4d4d;
    border-radius: 280px;
    position: relative;
    cursor: pointer;
}

.trilho .indicador {
    width: 30px;
    height: 30px;
    background-color: #000;
    border-radius: 50%;
    transform: scale(.9);
    position: absolute;
    left: 0;
    transition: .5s;
}

.trilho.dark{
    background-color: #c3c3c3;
}

.trilho.dark .indicador{
    left: 50px;
    background-color: #fff;
}

body.dark{
    background-color: #121212;
}

body.dark p , h1, h2, h3, h4, * {
    color: rgb(104, 98, 98);
}



body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .8s;
    color: black;
    
}




body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .8s;
    color: black;
    
}





*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    

}

header{
    margin: 20px;
    width: 100vh;
    text-align: center;
}

.CPA{
    width: 200px;
    height: 200px;
    position: absolute;
    right: 0;
    padding-left: 6px;
}

.IFSP{
    position: absolute;
    left: 0;
    padding: 20px;
    
}



aside{
    padding: 15px;
    background-color: #c3c3c3;
    border-radius: 30px;
    
}

aside.dark {
    background-color: #fff;
    
    
}

footer{
    padding: 9px;
    background-color: #161A1E;
    border-radius: 10px;
    
    margin-top: 20px;
    text-align: center;
}

footer.dark p{
    color: #fff;
}

main{
    margin-top: 90px;
    border-radius: 8px;
    box-shadow: 6px 2px 10px 4px #BFBFBD
}

main.light h1, h2, h3 {color: #000;}


main.dark{
    margin-top: 90px;
    border-radius: 8px;
    box-shadow: 4px 2px 10px 2px #53ED7F
}

main.dark h3, h4{
    color:rgb(104, 98, 98) ;
}


 @media (max-width: 810px) { 
    

    main{
        max-width: 600px;
        margin-right: 50px;
    }

    aside{
        max-width: 750px;
        margin-left: 15px;
        margin-right: 15px;
        
    }

    footer{
        max-width: 750px;
        
    }

    .CPA{
        position: relative;
        margin-top: 0px;
        margin-right: 0px;
    }

    .IFSP{
        position: relative;
        margin-bottom: 0px;
        margin-left: 00px;
    }
 }

 @media (max-width: 575px) { 
    

    main{
        max-width: 400px;
        margin-right: 0px;

        
    }

    aside{
        max-width: 750px;
        margin-left: 15px;
        margin-right: 15px;
        
    }

    footer{
        max-width: 750px;
        
    }

    .CPA{
        position: relative;
        margin-top: 100px;
        margin-right: 0px;
    }

    .IFSP{
        position: absolute;
        margin-bottom: 0px;
        margin-left: 00px;
    }
 }

 


 @media (max-width: 420px) { 
    

    main{
        max-width: 360px;
        margin-right: 0px;

        
    }

    aside{
        max-width: 360px;
        margin-left: 15px;
        margin-right: 15px;
        
    }

    footer{
        max-width: 360px;
        
    }

    .CPA{
        position: relative;
        margin-top: 100px;
        margin-right: 0px;
    }

    .IFSP{
        position: absolute;
        margin-bottom: 0px;
        margin-left: 00px;
        padding-left: 3px;
        padding-right: 0px
    }

    header{max-width: 360px;}

    body{max-width: 360px;}

    
 }

 